.form-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.cadastro-item {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.teste {
    display: flex;
    width: fit-content;
    gap: 1vw;
}

.input-config {
    padding: 0.5vw;
}

#item-button {
    padding: 0.7vw;
}

#DESCRICAO {
    min-width: 29.8vw;
    min-height: 10vh;
    resize: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

input::-moz-focus-inner {
    border: 0;
}
textarea:focus {
    outline: none;
    box-shadow: none;
}

textarea::-moz-focus-inner {
    border: 0;
}
select:focus {
    outline: none;
    box-shadow: none;
}

select::-moz-focus-inner {
    border: 0;
}